// fonts
$primary-font: 'ProximaNova', sans-serif;
$secondary-font: 'Domine', serif;
$proximanova-font :'Proxima N W01 Smbd';


// Font Sizing
$font-size-extraxs	: 9.48px;
$font-size-xxxs	: 12.35px;
$font-size-xxs	: 13px;
$font-size-xs	: 14px;
$font-size-sm	: 15px;
$font-size-md	: 17px;
$font-size-lg	: 18px;
$font-size-xl	: 20px;
$font-size-xxl	: 24px;
$font-size-xxl	: 24px;
$font-size-xxxl	: 26px;
$font-size-xxxxl: 30px;

// Font weight
$light: 300;
$regular: 400;
$semi-bold:600;
$bold: 700;

// colors
// white
$white: #FFF;
$white-off: #F2F2F2;

// sliver
$silver: #a1a1a1;

// gray
$gray-dark: #5b6c8d;
$gray: #7f8e9d;
$gray-light: #ebf3fb;
$gray-cool: #babec8;
$grey-lighter:#f2f2f2;
$gray-cooler:#d7e8f9;
$gray-lightest:#f1f7fc;

// red
$red: #ff2a00;

// black
$black: #292d39;
$black-color : #000000;

// blue
$blue-dark: #162e5c;
$blue: #3e9de6;
$blue-color:#3886d9;
$blue-light: #8bc4f0;
$blue-shade:#3ca6de;

// green
$green: #39b54a;
$green-light: #88d392;

// yellow
$yellow: #f9a825;
$yellow-light:#f8c45b;


// animation
$animation-duration: 0.7s;

//media queries breakpoints
$break-small: 320px;
$break-medium: 480px;
$break-large: 767px;
$break-xlarge: 991px;
$break-xxlarge: 1199px;

$map-purple : #db4af0;
$map-black : #000;
$map-light-blue : #a3d5ef;
$map-yellow : #ffa500;


