.modal-content {
.close {
    margin-top: 0px !important;
    display: inline-block;
    margin-right: 0px;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat !important;
    text-indent: -10000px;
    outline: none;
    background-image: url(../images/remove-icon-small.png) !important;
}
}
