ul.switcher {
	@extend %reset-list;
	display: inline-block;
	background-color: transparent;
	font-size: 0;
	li {
		display: inline-block;
		margin: 0px;
		label {
			@include button-style("xs");
			@include font-proxima($regular);	
			color: $silver;
			background-color: transparent;
			border: 1px solid $silver;
			display: block;
			margin: 0px; 
			cursor: pointer;
			text-transform: none;
		}
		input[type="radio"], input[type="checkbox"] {
			display: none;
		}
		input[type="radio"]:checked + label,  input[type="checkbox"]:checked + label{
			background-color: $black;
			border: 1px solid $black;
			color: $white;
		}
	}			
}

ul.switcher--lg {
	background-color: $gray-light;
	padding: 30px 30px !important; 
	li {
		display: inline-block; 
		label {
			@include font-proxima($semi-bold);
			font-size: $font-size-sm;
			text-transform: uppercase;
			padding-right: 20px;
			padding-left: 20px;
			padding-top: 25px;
			padding-bottom: 25px;
			border: 1px solid transparent;
			background-color: $white;
			span {				
				min-width: 100px;
				display: inline-block;  
				text-align: right;
			}
		}
		input[type="radio"]:checked + label,  input[type="checkbox"]:checked + label{
			background-color: $blue;
			border: 1px solid $blue;
			color: $white;
		}
		&:not(:first-child) {
			margin-left: 30px;
		}
	}
	
	
}

ul.switcher--green {
	li {
		input[type="radio"]:checked + label,  input[type="checkbox"]:checked + label{
			background-color: $green;
			border: 1px solid $green;
			color: $white;
		}
	}
}
ul.switcher--blue {
	li {
		input[type="radio"]:checked + label,  input[type="checkbox"]:checked + label{
			background-color: $blue;
			border: 1px solid $blue;
			color: $white;
		}
	}
}

ul.switcher--tab {
	width: 100%;
    text-align: center;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	
	li {				
		
		label { 
			border: none;
			background-color: transparent;
			border-bottom: transparent 3px solid;
			color: $gray;
			font-size: $font-size-xxs;
			@include font-proxima($regular);
		}
		
		input[type="radio"]:checked + label,  input[type="checkbox"]:checked + label{
			background-color: transparent;
			border: none;
			border-bottom: $blue-dark 3px solid;
			color: $blue-dark;
			font-size: $font-size-xxs;
			@include font-proxima($semi-bold);
		}
	}
}




