.confirmation{
  background-color:$gray-lighter;

}
.confirmation-modal{
  .mod-title{
    border-bottom: 10px solid #f8c45b;
    padding-bottom: 16px;
    font-family: "Proxima N W01 Smbd";
    margin: 0 auto;
    width: 31%;
    margin-bottom: 18px;
  }
  .modal-content{
    border-radius: 4px;
  }
  .modal-body{
    padding: 15px 25px;
  }
 .modal-header{
    border-bottom: 1px solid $gray-cooler;
  }
  .progress{
    height: 3px;
    border-radius: 0;
    .progress-bar{
      background-color: $blue;
    }
  }
  .modal-footer{
    background-color: $gray-light;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  ul{
    margin-top: 20px;
    &.risklisting{
      padding-left: 20px;
      margin-top: 20px;
      @media screen and (max-width:$break-large){
        padding-left: 0px;
      }
      li{
        width: 100%;
        list-style: none;
        text-align: left;
        padding-bottom: 10px;
      }
    }
  }
  ul{
    &.listing{
      li{
        width: 32%;
        float: left;
        margin-bottom: 20px;
        margin-right: 0;
        color: $gray;
        @media screen and (max-width:$break-large){
          width: 100%
        }
        span{
          &.symbol{
            margin-right: 4px;
            vertical-align: top;

            @media screen and (max-width:$break-large){
              margin-right:17px;
            }
            @media screen and (max-width:362px){
              margin-right:4px;
            }
          }
        }
        .symbol-det{
          display: inline-block;
          width: 56%;
          @media screen and (max-width:$break-large){
            width: 80%;
          }
          @media screen and (max-width:362px){
            width: 74%;
          }
        }
      }
    }
  }
  .adjust-property{
    color: $gray;
    border-top: 1px solid $gray-light;
    margin-top: 32px;
    div{
      button{
        width: 100%;
        margin-top: 30px;
        font-weight: $regular !important;
      }
      p{
        width: 70%;
        margin:  52px auto 0;
      }
      i{
        position: absolute;
        top:-20px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      &:nth-child(1) {
        border-right: 1px solid $gray-light;
        @media screen and (max-width: $break-xlarge) {
          margin-bottom: 37px;
          border-right: 0 none;
          i {
            top: -76px;
          }
        }
      }

        &:nth-child(2){
          @media screen and (max-width:$break-xlarge){
            border-top: 1px solid $gray-light;
            i{
              top:-23px;
            }
          }
      }
    }
  }
  &#no-property-match{
    .modal-body{
      padding: 15px 0 0px 0 !important;
    }
  }
  &#receive-request-get-started,&#receive-request-get-started-watchlist{
    .modal-footer{
     text-align: center;
    }
  }
  }
.hu-invst-loc{
  ul{
    margin-top: 3px;
     li{
       float: none;
       margin-bottom: 3px;
       label{
         &.huCheck{
           span{
             margin-left: 6px;
           }
         }
       }
     }
  }

  .col-md-3{
    width: 22.6%;
    min-height: 100px;
  }
}
